@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


* {

    background-color: rgb(39, 39, 39);

      font-family: "Pixelify Sans", sans-serif;
      font-optical-sizing: auto;


}

.hide {

    display: none;
}


#menu img {
    width: 180px;
}
#coreSet {
position: absolute;
left: 50%;
top: 40%;
transform: translate(-50%, -40%);

}


#loaderSet  {

position: absolute;
left: 50%;
top: 40%;
transform: translate(-50%, -40%);

}

.btnSet1 {
    cursor: pointer;
    background-color: transparent;

    border: 2px solid #CDFF34;
    color: #CDFF34;
    border-radius: 12;
    width: 200px;
    height: 40px;
}

.btnSet1:hover {
transform: scale(1.1); 
opacity: 0.9;

}


#loader {
  border: 16px solid #aeacac;
  border-radius: 50%;
  border-top: 16px solid #CDFF34;
  width: 320px;
  height: 320px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #CDFF34;
    text-align: center;
}

footer a {
        color: #CDFF34;
        text-decoration: none;

}


footer a:hover {
        text-decoration: underline;

}


.arrow {

  border: solid #CDFF34;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


#backarrow {
    cursor: pointer;

    margin-top: 1rem;
    margin-left: 1rem;
}

#backarrow:hover {

opacity: 0.9;

}

#about {

    color: #CDFF34;
letter-spacing: 0.1rem;
  line-height: 1.6;


}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}